#root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* all notes */

#notes {
  width: 100%;
}

.note {
  display: grid;
  place-items: center start;
  grid-template-columns: 1fr 3fr 3fr;
  margin: 1rem 0;
}

.note span.tags {
  place-self: center end;
}

.note div.summary {
  grid-column-start: 1;
  grid-column-end: 4;
}
